
/* Header */

#headerContainer {
	background: #DDD;
	border-bottom: 1px solid #BBB;
	margin-bottom: 10px;
}

#header {
	width: 960px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0px auto;
}

#linkBar {
	float: right;
	margin-bottom: 20px;
}

#navBar {
	float: right;
}

#name {
	font-family: "Andale Mono", monospace;
	font-size: 36pt;
	color: #444;
	text-decoration: none;
	line-height: 44pt;
}

/* Sidebar */

#sidebar {

	/*display: none;*/

	width: 200px;
	float: right;

	padding: 12px;
	margin: 8px;

}

#sidebarTitle {
	padding-bottom: 10px;
	text-align: right;
	font-size: 12pt;
	font-weight: bold;
	color: #666;
}

/* Content */

h2 {
	padding-top: 20px;
	padding-bottom: 10px;
}

h4 {
	padding-top: 10px;
	padding-bottom: 4px;
}

.block {
	padding: 0 0 0 15px;
	margin: 0 0 18px;
	border-left: 5px solid #EEE;
}

dd {
	padding-bottom: 5px;
}

.dead {
	color: red;
}